* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
   display: flex;
   flex-direction: column;
}

.panel {
    margin: 0px;
}

.panel h3 {
    font-size: 25px;
    color: blue;
}